<div class="row py-5">
  <div class="col-xl-5 text-center text-xl-start">
    <p class="h2 fw-bold mb-4">
      {{ include.title }}
    </p>
    <div class="col-lg-10 offset-lg-1 col-xl-10 offset-xl-0 fs-5 mb-5">
      {{ include.description }}
    </div>
  </div>
  <div class="col-xl-7 col-lg-12 mx-auto">
    <!--t=0.001 is a hack to show video thumbnail on mobile: https://muffinman.io/blog/hack-for-ios-safari-to-display-html-video-thumbnail/-->
    <video src="{{ include.video_url }}#t=0.001" class="rounded-3" style="width: 100%;" muted controls playsinline loop>
      <p>
        Your browser doesn't support HTML video. Here is a
        <a href="{{ include.video_url }}">link to the demo video</a> instead.
      </p>
    </video>
  </div>
</div>