---
---

// Make it slightly darker than actual brand color to ensure white has enough contrast against this primary button color
$primary: #517e75;

@import "bootstrap/bootstrap";

.btn-cta {
  color: #fff;
  background-color: #D66853;
  border-color: #D66853;
}

a:not(.btn) {
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: underline;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
  color: #56877d;
  background-color: #f3f9f2;
}

.icon-square > svg {
  fill: currentColor;
}