---
---

// Make it slightly darker than actual brand color to ensure white has enough contrast against this primary button color
$primary: #517e75;

@import "bootstrap/bootstrap";

.nav-link:hover {
  text-decoration: underline;
}

footer .a {
  text-decoration: none;
}

footer .a:hover {
  text-decoration: underline;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
  background-color: #1B3B6F; // Other options: #FAA613, #abcfba
}

.icon-square > svg {
  fill: currentColor;
}