<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style-qa.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
        <a class="d-flex align-items-center me-auto text-dark text-decoration-none fs-2" style="font-weight: 600;" href="/">
          <img src="/images/icon-transparent-256.png" class="me-2" style="
              width: 50px;
              vertical-align: middle;
          ">
          <span style="color: #56877c;">Chat</span><span style="color: #25443b;">PC</span>
        </a>

        <ul class="nav nav-pills my-auto">
          <li class="nav-item">
            <a class="nav-link" href="/plans/">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="/docs/macos/getting-started/">Get started for free</a>
          </li>
        </ul>
      </header>
    </div>

    {{ content }}

    <div class="container">
      <footer class="d-flex justify-content-center">
        <a href="/privacy/" class="px-2">Privacy</a>
        <a href="/terms/" class="px-2">Terms</a>
        <a href="/support/" class="px-2">Support</a>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
      insights.init('pUPwclAhBaUqSqK6');
      insights.trackPages();
    </script>
  </body>
</html>
